<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <connectionStrings>
    <add name="SystemControlSealsConnectionString" connectionString="Data Source=172.16.0.70;Initial Catalog=SystemControlSeals;Persist Security Info=True;User ID=sa;Password=Pa$$w@rd2015;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>